:root {
  --primary: #0b1833;
  --secondary: #cdeaf1;
  --parchment: #f8f0e5;
  --white: #f8f7f5;
}

header {
  background-color: var(--primary);
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.hero-image {
  height: 60vh;
  background-image: url(img/hero-image.jpg);
  background-size: cover;
  background-position: center;
}

.shopkeep {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000007a;
}

.shopkeep h2 {
  color: var(--white);
  text-shadow: 2px 2px var(--primary);
}

.wizbang {
  max-width: 30%;
  max-height: 450px;
  transform: scaleX(-100%);
  filter: drop-shadow(0 0 8px var(--secondary));
}

.wizbang-text {
  padding: 1.5rem;
  background-color: #f1d0a3a6;
  max-width: 80ch;
  border-radius: 5px;
  font-size: 20px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--secondary);
  padding: 1rem 0;
}

.good {
  padding: 0.5rem;
  margin: 0.75rem;
  max-width: 22%;
  text-align: center;
  background-color: var(--parchment);
  border: 1px solid var(--primary);
  border-radius: 5px;
  filter: drop-shadow(1px 1px black);
}

.good img {
  max-width: 100%;
  max-height: 150px;
}

.good p {
  text-align: left;
}

.good h5 {
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--primary);
}

footer {
  text-align: center;
  padding: 0.25rem;
  color: var(--secondary);
  background-color: var(--primary);
  font-size: 20px;
}
